# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gv_project\medcine_zzj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
